{% extends 'solverrapp/base.html' %}

{%block content %}
<div class="row">
    <!-- QUESTION DIV -->
    <div class="col-md-6">
        <div class="display: inline-block;">{{question.display_body|safe}}</div>

        <!-- Options Grid -->
        <div class="row g-3 my-3">
            {% for option in options %}
            <div class="border border-1 rounded-2 p-3 col-md-5 mx-2 {% if option.is_correct%}border-success{%endif%}">
                {{option.option_body|safe}}</div>
            {% endfor %}
        </div>
    </div>

    <!-- TABS -->
    <div class="col-md-6">
        {% if 'solve' not in request.path %}
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">About the
                    Question</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">1tb</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">2tb
            </div>
            <!-- About the question -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                tabindex="0">
                <h4>Sources</h4>
                {% for source in question.sources.all %}
                {{source.name}}
                {% endfor %}
            </div>
        </div>

        <!-- New Solution -->
        <button type="button" class="btn btn-outline-primary"
            onclick="setTimeout(function(){document.location.href = 'solve'},200);">Submit New Solution</button>
        {% endif %}
        <!-- New Solution Block -->
        {% block new_solution%}

        {% endblock %}
    </div>
</div>
{% endblock %}