{% extends 'solverrapp/base.html' %}

{% block content%}
<h3>Add a new Question</h3>
<form>
    <div class="mb-3">
        <label class="form-label">Question Type</label>
        <select class="form-select mb-1" id="question-type-select" aria-label="Question Type Select"
            onchange="update_question_type()">
            {% for key, value in question_types %}
                <option value="{{key}}">{{ value }}</option>
            {% endfor %}
        </select>
        <small class="text-secondary">
            • Single Correct: Only one option can be correct out of the given options<br>
            • Multiple Correct: Multiple options can be correct at the same time<br>
            • Integer Type: The answer can include numbers from 0-9. No fractions or rational numbers<br>
            • Numerical Type: The answer can include any number including decimals and negative numbers<br>
        </small>
    </div>
    <h5 class="mb-2">Question Body</h5>
    <div class="row g-3 mb-3">
        <div class="col-md-7 rtxt">
            <div class="btn-toolbar mb-1 rtxt-toolbar" role="toolbar"></div>
            <textarea rows="5" type="text" class="form-control rounded-3 rtxt-textarea" oninput="renderQuestion();" id="question-body"></textarea>
            </div>
            <div class="col-md-5">
                <label class="form-label mb-4">Preview Question</label>
                <div id="question-preview" class="p-3  border border-1 rounded-3"></div>
            </div>
        </div>

        <h5>Answer</h5>
        <div class="mb-3" id="options-container">
            <label class="mb-2">Edit Options</label>
            <div class="option">
                <ul>
                    <li class="option-item">
                        <div class="input-group">
                            <input type="text" class="form-control option-value" aria-label="option-value"
                                aria-describedby="remove-option1">
                            <button class="btn btn-outline-danger remove-option" type="button"><i class="bi bi-trash-fill"></i></button>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input correct-answer">
                            <label class="form-check-label">Correct Answer</label>
                        </div>
                    </li>
                    <li class="option-item">
                        <div class="input-group">
                            <input type="text" class="form-control option-value" aria-label="option-value"
                                aria-describedby="remove-option2">
                            <button class="btn btn-outline-danger remove-option" type="button"><i class="bi bi-trash-fill"></i></button>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input correct-answer">
                            <label class="form-check-label">Correct Answer</label>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-outline-secondary add-option">Add an Option</button>
            </div>
        </div>

        <div class="mb-3" id="answer-container">
            <input id="answer-input" type="text" placeholder="Enter Answer" class="form-control">
        </div>

        <div class="mb-3" id="metadata-section">
            <h5>Metadata</h5>
            <label class="form-label">Sources</label>
            <div class="mb-3">
                <input class="form-control" placeholder="Search Sources" type="text" id="source-search" oninput="searchSource()">
                <button style="display: none" id="new-source-btn" type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Add a New Source
                </button>
            </div>
            <select id="source-select" class="form-select mb-1" size="5" aria-label="source select" multiple>
            </select>
            <small class="text-secondary">
                Multiple sources can be selected at once. Hold down control for windows or command for mac and click on
                the sources you want to select
            </small>
        </div>

        <button type="button" onclick="SubmitQuestion()" class="btn btn-primary" >Submit</button>
</form>

<!-- TOAST -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
            </svg>
            <strong class="ms-1 me-auto">Solverr</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<!--  -->

  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Source</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="new-source">
            <div class="form-floating mb-3">
  <input class="form-control" id="source-name" placeholder="name@example.com">
  <label for="source-name">Source Name</label>
            </div><div class="form-floating mb-3">
                <select class="form-select" id="source-type">
            {% for key, value in source_types.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
            <label for="source-type">Source Type</label>
</div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="addSource();">Add</button>
      </div>
    </div>
  </div>
</div>


<script>
    function renderQuestion() {
        var text = document.getElementById('question-body').value;
        const imgMdPattern = /!\[(.*?)\]\((.*?)\)/g;

        var newText = text.replace(imgMdPattern, (match, altText, src) => {
            return `<img src="${src}" style="max-height:250px;" alt="${altText}">`;
        });
        var newText = newText.replace(/\n/g, "<br>");

        preview_p = document.getElementById('question-preview');
        preview_p.innerHTML = newText;

        renderMathInElement(
            preview_p,
            {
                delimiters: [
                    { left: "$$", right: "$$", display: true },
                    { left: "$", right: "$", display: false },
                ]
            }
        );
    }
</script>

<script>
    const addOptionButton = document.querySelector('.add-option');
    const optionsContainer = document.getElementById('options-container');
    const questionTypeSelect = document.getElementById('question-type-select');
    const questionanswerdiv = document.getElementById('answer-container');

    function addOption() {
        const optionItem = optionsContainer.querySelector('.option-item');
        const newOptionItem = optionItem.cloneNode(true);
        optionsContainer.querySelector('ul').appendChild(newOptionItem);
    }

    function resetCheckboxes() {
        const checkboxes = optionsContainer.querySelectorAll('.form-check-input');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = false;
        });
    }

    function handleSingleCorrectSelection(event) {
        const checkboxes = optionsContainer.querySelectorAll('.form-check-input');
        checkboxes.forEach((checkbox) => {
            if (checkbox !== event.target && checkbox.checked) {
                checkbox.checked = false;
            }
        });
    }

    function update_question_type() {
        var question_type = document.getElementById('question-type-select').value;
        console.log(question_type);
        var options_container = document.getElementById('options-container');

        // Hide/Show options block
        if (question_type == 'SCQ' || question_type == 'MCQ') {

            options_container.style.display = 'block';
        } else {
            options_container.style.display = 'None';
        }

        // Reset checkboxes and Make options single correct
        if (questionTypeSelect.value === 'SCQ') {
            resetCheckboxes();
            const checkboxes = optionsContainer.querySelectorAll('.form-check-input');
            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener('change', handleSingleCorrectSelection);
            });
        }

        // For MCQ
        if (questionTypeSelect.value === 'MCQ') {
            const checkboxes = optionsContainer.querySelectorAll('.form-check-input');
            checkboxes.forEach((checkbox) => {
                checkbox.removeEventListener('change', handleSingleCorrectSelection);
            });
        }

        // Numerical or INT or fill in
        if (questionTypeSelect.value == 'NUM' || questionTypeSelect.value == 'INT' || questionTypeSelect.value == 'FILL' || questionTypeSelect.value == 'LONG') {
            questionanswerdiv.style.display = 'block';
        } else {
            questionanswerdiv.style.display = 'None';
        }

        // FOR SUBJECTIVE/LONG
        if (questionTypeSelect.value == 'LONG') {
            var inputElement = document.getElementById("answer-input");
            var textAreaElement = document.createElement("textarea");
            textAreaElement.value = inputElement.value;
            textAreaElement.id = inputElement.id;
            textAreaElement.name = inputElement.name;
            textAreaElement.className = inputElement.className;
            textAreaElement.placeholder = inputElement.placeholder;

            textAreaElement.rows = "4"; // Set number of rows                
            inputElement.parentNode.replaceChild(textAreaElement, inputElement);
        } else {
            var inputElement = document.getElementById("answer-input");
            var textAreaElement = document.createElement("input");
            textAreaElement.value = inputElement.value;
            textAreaElement.id = inputElement.id;
            textAreaElement.name = inputElement.name;
            textAreaElement.className = inputElement.className;
            textAreaElement.placeholder = inputElement.placeholder;
            inputElement.parentNode.replaceChild(textAreaElement, inputElement);
        }

    }

    function refreshSources(sources) {
        var sources_select = document.getElementById('source-select');
        sources_select.innerHTML = "";
        sources.data.forEach(source => {
            option_el = `<option class="source-option" value="${source.name}">${source.name}</option>`
            sources_select.innerHTML = sources_select.innerHTML + option_el;
        })
    }

    function getSources(){
        fetch('/api/sources')
            .then(response => response.json())
            .then(data => refreshSources(data));
    }

    function searchSource(){
        var query = document.getElementById('source-search').value;

        document.getElementById('source-name').value = query;

        sources = document.querySelectorAll('.source-option');
        sources.forEach(option => {
            if (option.value.toLowerCase().includes(query.toLowerCase())) {
                option.style.display = '';

            } else {
                option.style.display = 'none';
            }
        });


        var none = true;
        sources.forEach(option => {
            if (option.style.display === '') {
                none = false;
            }
        });

        if (none) {
            // New source display
            document.getElementById('new-source-btn').style.display = '';

        } else {
            document.getElementById('new-source-btn').style.display = 'none';
        }
    }

    function addSource() {
        const source_name = document.getElementById('source-name').value;
        const source_type = document.getElementById('source-type').value;

        data = {
            name: source_name,
            type: source_type,
        }

        fetch('/api/new/source', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
                console.log('POST request succeeded with JSON response', data);
                getSources();
                document.getElementById('source-name').value = ""
                document.getElementById('source-type').value = ""
                document.getElementById('source-search').value = ""

            })
            .catch(error => {
                console.error('There was a problem with the POST request:', error);
            });


    }

    document.addEventListener("DOMContentLoaded", function () {
        // Ensure there are at least two options on load
        if (optionsContainer.querySelectorAll('.option-item').length < 2) {
            addOption();
        }

        addOptionButton.addEventListener('click', function () {
            addOption();
            resetCheckboxes();
        });

        optionsContainer.addEventListener('click', function (event) {
            if (event.target && event.target.classList.contains('remove-option')) {
                const optionItem = event.target.closest('.option-item');
                if (optionsContainer.querySelectorAll('.option-item').length > 2) {
                    optionItem.remove();
                } else {
                    alert('At least two options are needed for a multiple choice question.');
                }
            }
        });

        update_question_type();
        getSources();

    });
</script>

<script>
    function isEmpty(str) {
        return !str.trim().length;
    }
    function toastError(message) {
        const toastLiveExample = document.getElementById('liveToast')
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        const toastBody = document.querySelector('.toast-body');
        toastBody.innerHTML = message;
        toastBootstrap.show()
    }

    function SubmitQuestion() {
        var question_type = document.getElementById('question-type-select').value;
        var question_body = document.getElementById('question-body').value;
        var _options = [];


        if (isEmpty(question_body)) {
            toastError("You cannot leave the question blank.");
            return;
        }

        a = question_type == 'SCQ';
        b = question_type == 'MCQ';
        if (a || b) {
            var optionsContainer = document.getElementById('options-container');
            var optionItems = optionsContainer.querySelectorAll('.option-item');

            for (i = 0; i < optionItems.length; i++) {
                var index = i;
                console.log(index);
                var item = optionItems[index];
                var optionValue = item.querySelector('.option-value').value;


                if (isEmpty(optionValue)) {
                    toastError("You cannot leave the option blank.");
                    return;
                }

                var isCorrect = item.querySelector('.correct-answer').checked;
                _options[index] = ({
                    option_index: index + 1,
                    option_body: optionValue,
                    is_correct: isCorrect
                });
            }
            var one_correct = false;
            _options.forEach(item => {
                if (item.is_correct) {
                    one_correct = true;
                }
            });

            if (one_correct == false) {
                toastError('No option was marked as correct.');
                return 0;
            }
        }

        if (question_type == 'INT' || question_type == 'NUM' || question_type == 'LONG' || question_type == 'FILL') {
            var question_answer = document.getElementById('answer-input').value;
            console.log(question_answer);
            if (isEmpty(question_answer)) {
                toastError("The answer cannot be blank.");
                return;
            }

            // CASE: INTEGER TYPE
            if (question_type == 'INT') {
                const int_regex = /^[0-9]$/;
                if (int_regex.test(question_answer) == false) {
                    toastError("Integer type questions can only have answer from 0-9 excluding negative integers and decimals.");
                    return;
                }
            }

            // CASE: NUMERICAL TYPE
            if (question_type == 'NUM') {
                const num_regex = /^-?\d*\.?\d+$/;
                if (num_regex.test(question_answer) == false) {
                    toastError("Numerical type questions can only have numerical answers. No other characters allowed.");
                    return;
                }
            }
        }

        // Process Sources
        var selected_sources = document.getElementById('source-select').selectedOptions;
        var sel_sources_final = [];
        for (i = 0; i < selected_sources.length; i++) {
            sel_sources_final.push(selected_sources[i].innerText);
        }



        var question = {
            type: question_type,
            body: question_body,
            options: _options,
            answer: question_answer,
            sources: sel_sources_final
        }

        fetch('/api/new/question', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(question)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
                console.log('POST request succeeded with JSON response', data);
                new_q_id = data.index;
                window.location.replace("/questions/"+new_q_id);
            })
            .catch(error => {
                console.error('There was a problem with the POST request:', error);
            });
    }
</script>
{% endblock %}