{% extends 'solverrapp/base.html' %}

{%block content %}
<div class="row">
    <!-- QUESTION DIV -->
    <div class="col-md-6">
        <div class="display: inline-block;">{{question.display_body|safe}}</div>

        <!-- Options Grid -->
        <div class="row g-3 my-3 px-2">
            {% for option in options %}
            <div class="border border-1 rounded-2 p-3 col-12 {% if option.is_correct%}border-success{%endif%}">
                {{option.option_body|safe}}</div>
            {% endfor %}
        </div>
    {% for topic in question.topics.all %}
        <span class="badge text-bg-secondary">{{ topic.name }}</span>
    {% endfor %}
        <button class="btn btn-outline-success"><a style="text-decoration: none;" href="/admin/solverrapp/question/{{ question.id }}/change/">Edit Question</a></button>
    </div>


    <!-- TABS -->
    <div class="col-md-6">
        {% if 'solve' not in request.path %}
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for solution in solutions %}
            <li class="nav-item" role="presentation">
                <button class="me-2 nav-link {% if forloop.counter0 == 0 %}active{% endif %}" id="pills-{{ solution.solution_source }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ solution.solution_source }}"
                    type="button" role="tab" aria-controls="pills-{{ solution.solution_source }}" aria-selected="true">{{ solution.solution_source }}</button>
            </li>
        {% endfor %}

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">About the
                    Question</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
        {% for solution in solutions %}
            <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active{% endif %}" id="pills-{{ solution.solution_source }}" role="tabpanel" aria-labelledby="pills-{{ solution.solution_source }}-tab"
                tabindex="0">
            {{ solution.solution_body|safe }}
            </div>
        {% endfor %}
            <!-- About the question -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                tabindex="0">
                <h4>Sources</h4>
                {% for source in question.sources.all %}
                {{source.name}}
                {% endfor %}
            </div>
        </div>

        <!-- New Solution -->
        <button type="button" class="btn btn-outline-primary my-3"
            onclick="setTimeout(function(){document.location.href = 'solve'},200);">Submit New Solution</button>
        {% endif %}
        <!-- New Solution Block -->
        {% block new_solution%}

        {% endblock %}
    </div>
</div>
{% endblock %}