{% extends 'solverrapp/questions/question_detail.html' %}

{% block new_solution %}
<h3 class="mb-5">New Solution</h3>

<form>
    <div class="row mb-3">
        <label for="solution-type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            <select class="form-control" id="solution-type" onchange="updateSolutionType();">
                {% for key, value in solution_types %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
            <small class="text-secondary">
                • Rich-Text: Combination of Images & Text<br>
            </small>
        </div>
    </div>

    <!-- Option Selection [XCQ only] -->
    <div class="row mb-3">
        <label for="select-option" class="col-sm-2 col-form-label">Answer</label>
        <div class="col-sm-10">
            {% for option in options %}
            <div class="form-check form-check-inline">
                <input class="form-check-input change-option" type="{%if question.question_type == 'SCQ'%}radio{% else %}checkbox{% endif %}" name="inlineRadioOptions" id="change-option-{{forloop.counter0}}"
                    value="{{forloop.counter0}}" {% if option.is_correct%}checked{% endif %} onchange="processAnswerChange();">
                <label class="form-check-label" for="change-option-{{forloop.counter0}}">Option {{forloop.counter}}</label>
            </div>
            {% endfor %}
            <div class="form-check form-check-inline">
                <input class="form-check-input change-option" type="radio" name="inlineRadioOptions" id="change-option-nota"
                    value="-1" onchange="processAnswerChange();">
                <label class="form-check-label" for="change-option-nota">None</label>
            </div>
        </div>
    </div>

    <!-- New Answer -->
    <div class="row mb-3" id="new-answer-container" style="display: none;">
        <label for="new-answer-input" class="col-sm-2 col-form-label">New Answer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="new-answer-input">
        </div>
    </div>

    <!-- For Media-Only Solution -->
    <div class="row mb-3" id="media-container">
        <label for="media-source-input" class="col-sm-2 col-form-label">Media URL</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="media-source-input" oninput="renderPreview();">
        </div>
    </div>

    <!-- RTXT Editor -->
    <div class="row mb-3" id="editor-container">
        <label for="question_body" class="col-sm-2 col-form-label">Solution</label>
        <div class="col-sm-10 rtxt">
            <div class="btn-toolbar mb-1 rtxt-toolbar" role="toolbar"></div>
            <textarea rows="5" type="text" class="form-control rounded-3 rtxt-textarea" oninput="renderPreview();" id="solution-body"></textarea>
            </div>
    </div>

    <!-- Preview Solution -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Preview</label>
        <div class="col-sm-10" id="preview"></div>
    </div>

    {#  Source  #}
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="source-input">Solution Source</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="source-input">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="submitSolution()">Submit</button>
</form>

<script>
    const solutionType = document.getElementById('solution-type');
    const mediaContainer = document.getElementById('media-container');
    const rtxtContainer = document.getElementById('editor-container');
    const preview_p = document.getElementById('preview');
    const mediaURL = document.getElementById('media-source-input');

    function renderPreview() {
        if (solutionType.value === 'IMG') {
            {#Prevent injection#}
            if (/[<>\"'`]/.test(mediaURL.value)) {
                mediaURL.value = '';
                return;
            }
            preview_p.innerHTML = `<img src="${mediaURL.value}">`;
            return;
        }
        var text = document.getElementById('solution-body').value;
        const imgMdPattern = /!\[(.*?)\]\((.*?)\)/g;

        var newText = text.replace(imgMdPattern, (match, altText, src) => {
            return `<img src="${src}" style="max-height:250px;" alt="${altText}">`;
        });
        var newText = newText.replace(/\n/g, "<br>");


        preview_p.innerHTML = newText;

        renderMathInElement(
            preview_p,
            {
                delimiters: [
                    { left: "$$", right: "$$", display: true },
                    { left: "$", right: "$", display: false },
                ]
            }
        );
    }

    // Make the colors of option change if solution answer is not the same as question's declared answer
    function processAnswerChange() {

        const question_type = '{{question.question_type}}';
        // For choice questions
        if (question_type === 'SCQ' || question_type === 'MCQ') {
            if (document.getElementById('change-option-nota').checked) {
                document.getElementById('new-answer-container').style.display = '';
            } else {
                document.getElementById('new-answer-container').style.display = 'none';
            }
        }

        // For value questions
    }

    function updateSolutionType() {
        if (solutionType.value === 'TXT') {
            mediaContainer.style.display = 'none';
            rtxtContainer.style.display = '';
        } else {
            mediaContainer.style.display = '';
            rtxtContainer.style.display = 'none';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
            updateSolutionType();
        });

    function submitSolution() {
        const solutionType = document.getElementById('solution-type').value;

        const checkboxes = document.querySelectorAll('.change-option');

        // Array to store selected answers
        const selected_answers = [];

        // Iterate over each checkbox
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                selected_answers.push(checkbox.value);
            }
        });

        console.log(selected_answers)

        const newAnswer = document.getElementById('new-answer-input').value;

        var solution_body = "";

        if (solutionType === 'TXT') {
            solution_body = document.getElementById('solution-body').value;
        } else {
            solution_body = document.getElementById('media-source-input').value;
        }

        const source = document.getElementById('source-input').value;

        const data = {
            type: solutionType,
            sel_answers: selected_answers,
            answer: newAnswer,
            body: solution_body,
            source: source,
            question_id: {{ question.id }}
        }

        console.log(data);

        fetch('/api/new/solution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
                console.log('POST request succeeded with JSON response', data);
                window.location.replace('/questions/{{ question.id }}');

            })
            .catch(error => {
                console.error('There was a problem with the POST request:', error);
            });

    }
</script>

{% endblock %}